name: Validate

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  hacs:
    name: HACS Action
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: HACS Action
        uses: 'hacs/action@main'
        with:
          category: 'plugin'
